<h1>List of Contacts</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3">Options</th>
    </tr>
  </thead>

  <% @contacts.each do |contact| %>
    <tr>
      <td><%= contact.first_name %></td>
      	<td><%= link_to 'show', contact %> </td>
        <td><%= link_to 'Edit', edit_contact_path(contact.id) %></td>
        <td><%= link_to 'Delete', contact, :method => 'delete' %></td>
    </tr>
  <% end -%>
</table>

<p><%= link_to 'New Contact', new_contact_path %></p>

<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>
